* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #06283D;
    display: flex;
    place-items: center;
    height: 100vh;
}

nav {
    display: grid;
}


nav h1 {
    color: #fff;
    font-size: 3rem;
    padding: 20px;
} 

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
}


main {
    display: grid;
    grid-template-areas: 
    'a a b'
    'a a b'
    'c d d'
    'c e e'
    ;
    gap: 10px;
    width: 25%;
    margin: auto;
    grid-template-rows: 100px;
}

main div {
    padding: 2em;
    text-align: center;
    border-radius: 1px;
}

.item-a {
    background-color: #F15412;
    grid-area: a;
}

.item-b {
    background-color: #FFA500;
    grid-area: b;
}

.item-c {
    background-color: green;
    grid-area: c;
}

.item-d {
    background-color: #34B3F1;
    grid-area: d;
}

.item-e {
    background-color: #34B3F1;
    grid-area: e;
}